HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

#
#
#

/node_modules/
/tatia-dir/node_modules/
/flatbuffer-dir/Linux.flatc.binary.clang++-18.zip
/flatbuffer-dir/Kaatarina/
/flatbuffer-dir/kaatarina/
/flatabo-practice/node_modules
/flatabo-practice/dist
/flatabo-practice/src/kaatarina
/rollup-practice/node_modules
/rollup-practice/dist
/rollup-practice/src/kaatarina

bundle.js
bundle.js.map
